/*
body {
    padding:20px ;

    background-image: url(Styles/imgs/old_map.png);  

    text-align: center;
    
}

#page{
    width: 960px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: left;
}

    .clearfix:before,
    .clearfix:after,

    
#content {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    text-align:left ;
    font-family: Verdana ;
    font-size: 0.8em;

    background-image: url(/Styles/imgs/lgrey008.jpg);

    
    width: 100%;
    display: table;
}
        
.article{

    float:left;
    

    width: 240px;

    
    border: 1px;
                
    border-color: lightgrey;
    border-style: solid;
    background-color: white;

    text-align: center;
    line-height: 1.8em;

    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 22px;
    padding-left: 5px;

    margin: 30px;
}
            
.header{
    border-bottom: 1px;
    border-color: #999999;

}


#header{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: white;

    border-bottom: 10px;
    border-color: black;
    border-bottom-style:solid;

    background-color: #313B44;
}

h1{
    background-image: url(/Styles/imgs/logo.png);
    background-repeat: no-repeat;
    background-position: 1px;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 25px;

    padding-bottom: 20px;
    padding-top: 10px;

    
    text-align: left;
}


#nav{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-image:url(/Styles/imgs/red015.jpg);
    padding-bottom: 1px;
    
}

ul{
    display: flex;
    justify-content: center;

    margin-top: 0px;
    padding-top:10px ;
}

li{
    padding-top:80px;

    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    
    list-style-type:none;           
}
a{
    text-decoration:none;
    color: orange;

}
a:hover{
    color:white;
}
#Contenidos{
    background-image:url(/Styles/imgs/book.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;    

    font-size: 18px;
    text-align: center;
}

#videos{
    background-image:url(/Styles/imgs/film.png);
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;

    font-size: 18px;
    text-align: center;

}
#Contactos{
    background-image:url(/Styles/imgs/mail.png);
    background-repeat: no-repeat;
    background-position: center;
    
    cursor: pointer;
    

    font-size: 18px;
    text-align: center;
}



#footer{

    color: white;
    font-size: 0.7em;
    text-align: center;

    background-color: #313B44;

    border-top: 6px;
    border-color: black;
    border-style: solid;

    padding-top: 15px;
    padding-bottom: 15px;
}
*/
    






