@font-face {
    font-family: 'Luckiest Guy';
    src: url(/Luckiest_Guy/LuckiestGuy-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Abel';
    src: url(/Abel/Abel-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: normal;
}
html{
    background-color: white;
}

body {
    padding:20px ;

    background: linear-gradient(to bottom, rgba(227, 76, 38, 1), rgba(240, 101, 41, 0));
    
    text-align: center;


}

#page {
    
    box-shadow: 10px 10px 10px gray;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;


    width: 960px;

    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;

    text-align: left;

}
.clearfix:before,
.clearfix:after,
    
main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;

    text-align:left ;
    font-family: Verdana ;
    font-size: 0.8em;

    background-image: url(/Styles/imgs/lgrey008.jpg);

    
    width: 100%;
    display: table;
}
        
/*TITULO PAGINA*/
header{

    border-bottom: 10px;
    border-color: black;
    border-bottom-style:solid;

    background:linear-gradient(to bottom, #0170B9, #27AADE);

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;   
}

h1{
    position: relative;

    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 25px;

    padding-bottom: 25px;
    padding-top: 20px;

    text-align: left;
    color: white;
    font-family: 'Luckiest Guy';

}

#logoImg{

    position: absolute;
    width: 75px;
    margin:-10px auto 0px 0px;

}
/* END TITULO PAGINA*/


/* LISTAS */
nav{

    position: relative;
    font-family:'Luckiest Guy';
    text-align: center;
    background: linear-gradient(to bottom, rgb(213, 186, 50), rgb(255, 218, 62));
    padding:1px

}

nav>ul>li:hover{
    transition: 0.6s;
    text-shadow: 0px 0px 5px #ff7e42;
}

#Contenidos:hover ul{height: 200px;}
#Videos:hover ul{height: 200px;}
#Contactos:hover ul{height: 200px;}


nav>ul>li{

    position: relative;
    

    padding-top:80px;

    margin-top: 0px;
    margin-right: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    
    list-style-type:none;
    display: inline-block;


    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;

    font-size: 20px;
    text-shadow: 2px 2px 4px #f06529;
}

/* MINI LISTAS */
#Contenidos>ul{
    position: absolute;

    z-index: 2;

    list-style: none;
    text-align: center;
    font-size: 0.9em;

    height: 0px;

    
    padding-top: 0px;
    width: 125px;
    left: -40%;
    top:104px;



    overflow: hidden;

    -webkit-transition: height 0.4s linear;
    -moz-transition: height 0.4s linear;
    -o-transition: height 0.4s linear;
    transition: height 0.4s linear;
}

#Videos>ul{
    position: absolute;

    z-index: 2;

    list-style: none;
    text-align: center;
    font-size: 0.9em;

    height: 0px;

    
    padding-top: 0px;
    width: 125px;
    left: -96%;
    top:104px;



    overflow: hidden;

    -webkit-transition: height 0.4s linear;
    -moz-transition: height 0.4s linear;
    -o-transition: height 0.4s linear;
    transition: height 0.4s linear;
}

#Contactos>ul{
    position: absolute;

    z-index: 2;

    list-style: none;
    text-align: center;
    font-size: 0.9em;

    height: 0px;

    
    padding-top: 0px;
    width: 125px;
    left: -45%;
    top:104px;



    overflow: hidden;

    -webkit-transition: height 0.4s linear;
    -moz-transition: height 0.4s linear;
    -o-transition: height 0.4s linear;
    transition: height 0.4s linear;
}


/* ENLACES LISTAS */
nav>ul>li>ul>li>a{
    text-decoration:none;
    color: white;
}

nav li ul li a{
    padding: 10px;
    color:#fff;
    text-decoration:none;
    display:block;
}

nav li ul li a{
    padding: 10px;
    color:#fff;
    text-decoration:none;
    display:block;
}

nav li ul li:first-child{ 
    border-radius: 3px 3px 0 0;
    margin-top: 10px;
    position: relative;
}

nav li ul li:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* flecha hacia arriba */
nav li ul li:first-child::before{
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    border: 7px solid transparent;
    border-bottom-color: #e34c26;
    left:50%;
    top: -36%;
    margin-left:-10px;
    
}

nav li ul li { background-color: #e34c26;}
nav li ul li:nth-child(odd){ background-color: #f06529;}
nav li ul li:hover{ background-color: #ff7e42;}



#Contenidos{
    background-image:url(/Styles/imgs/book.png);
    text-decoration:none;
    color: white;
}



#Videos{
    
    background-image:url(/Styles/imgs/film.png);
    text-decoration:none;
    color: white;
}



#Contactos{
    background-image:url(/Styles/imgs/mail.png);
    text-decoration:none;
    color: white;
}


/* END LISTAS */



/*CONTENIDO*/
article{

    position: relative;


    float:left;
    

    width: 241px;
    margin:30px;
    padding-top: 90px;
    padding-right: 5px;
    padding-bottom: 70px;
    padding-left: 5px;

    border-image-source: url(/recursos/movil.png);
    border-image-width: 92px;
    border-image-slice: 80 100 76 100;
    border-image-outset: 19px;
    border-image-repeat:stretch;
   

    background-color: white;
    

    text-align: center;
    line-height: 1.8em;
    font-family: 'Abel';

    
    


       
}

#article{
    transform: rotate(-2deg);
}

#article2{
    transform: rotate(2deg);
}

/* IMAGENES CHINCHETA*/
#chincheta{
    position: absolute;

    width: 35px;
    height: 49px;

    margin-top: -119px;
    margin-left: 206px;

    background-image: url(recursos/chincheta.png);
    background-repeat: no-repeat;

}

#chincheta1{
    position: absolute;

    width: 35px;
    height: 49px;

    margin-top: -120px;
    margin-left: 120px;

    background-image: url(recursos/chincheta.png);
    background-repeat: no-repeat;
}

#chincheta2{
    position: absolute;

    width: 35px;
    height: 49px;

    margin-top: -118px;
    margin-left: 27px;

    background-image: url(recursos/chincheta.png);
    background-repeat: no-repeat;

}
/* IMAGENES CHINCHETA*/

/*IMG CONTENT*/
#javascriptImg{

    background-image: radial-gradient(#ffffff 0%, #cecece );
}
/*IMG CONTENT*/

h2{

    text-shadow: 2px 2px gray;

    font-family: 'Abel';
    
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-color: black;
    border-style: solid;  
}
/*CONTENIDO*/


/*FOOTER*/
footer{

    color: white;
    font-size: 0.7em;
    text-align: center;

    background:linear-gradient(to top, #0170B9, #27AADE);


    border-top: 6px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: black;
    border-style: solid;

    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    


}
/*FOOTER*/